<a href="https://colab.research.google.com/github/ValeriaSalinasB/Visualizacion-datos/blob/main/Actividad9_VisDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model as LM
import statistics

In [36]:
path='/content/drive/MyDrive/Antropometria_act9_VisDatos.xlsx'

In [37]:
df=pd.read_excel(path,
                 sheet_name='Sheet1')
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30:00,2.0,16:35:00,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25:00,3.0,15:25:00,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,09:40:00,1.0,09:40:00,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,07:40:00,3.0,07:45:00,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,06:00:00,2.0,06:00:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00:00,1.0,18:05:00,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40:00,1.0,18:40:00,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,08:00:00,3.0,23:00:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,06:02:00,3.0,06:02:00,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50:00,3.0,13:00:00,1,M0143,2,1,2,591.847039,12

In [38]:
favs=['cadera','peso','sistol','diastol','edad','cintura']
ndf=df[favs]
ndf.dropna(inplace=True)
ndf

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

       cadera   peso  sistol  diastol  edad  cintura
0       106.0  73.70   63.25    53.25    38    98.70
1        75.0  35.65   70.00    50.00    11    64.00
2        94.3  54.80   70.50    41.00    18    67.60
3        72.2  33.40   71.00    64.00    10    60.60
4       127.0  97.95   72.00    53.50    19   113.00
...       ...    ...     ...      ...   ...      ...
18635   113.0  75.80  221.00    95.50    73    93.00
18636   113.7  69.40  222.25    78.00    75   103.05
18637    86.0  46.75  230.00    66.00    86    71.35
18638    94.8  59.05  235.00   100.00    72    99.95
18639   120.0  80.00  240.00   150.00    71   108.15

[18032 rows x 6 columns]

In [39]:
x=pd.DataFrame(ndf.peso)
y=pd.DataFrame(ndf.cadera)

In [40]:
lm=LM.LinearRegression()
model=lm.fit(x,y)
model

LinearRegression()

In [41]:
print('Model intercept is ',model.intercept_)
print('Model coefficients are ', model.coef_)

Model intercept is  [57.45998906]
Model coefficients are  [[0.62265718]]

In [42]:
modelB=sm.OLS.from_formula('cadera ~ peso',data=ndf)
resultB=modelB.fit()
resultB.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 cadera   R-squared:                       0.604
Model:                            OLS   Adj. R-squared:                  0.604
Method:                 Least Squares   F-statistic:                 2.748e+04
Date:                Sat, 03 Dec 2022   Prob (F-statistic):               0.00
Time:                        04:33:57   Log-Likelihood:                -65165.
No. Observations:               18032   AIC:                         1.303e+05
Df Residuals:                   18030   BIC:                         1.304e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.4600      0.252    228.032      0.000      56.966      57.954
peso           0.6227      0.004    165.771      0.000       0.615       0.630
==============================================================================
Omnibus:                    22321.754   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6875856.023
Skew:                           6.463   Prob(JB):                         0.00
Kurtosis:                      97.786   Cond. No.                         253.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [43]:
z=resultB.resid

In [44]:
b=resultB.fittedvalues
statistics.median(b)

97.18551705265607

In [45]:
statistics.median(z)

-0.6495739811776744

In [46]:
modelC=sm.OLS.from_formula('diastol ~ sistol +edad +peso +cintura',data=ndf)
resultC=modelC.fit()
resultC.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.458
Model:                            OLS   Adj. R-squared:                  0.458
Method:                 Least Squares   F-statistic:                     3812.
Date:                Sat, 03 Dec 2022   Prob (F-statistic):               0.00
Time:                        04:33:57   Log-Likelihood:                -63952.
No. Observations:               18032   AIC:                         1.279e+05
Df Residuals:                   18027   BIC:                         1.280e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     20.3297      0.520     39.089      0.000      19.310      21.349
sistol         0.4140      0.004     94.447      0.000       0.405       0.423
edad          -0.0272      0.004     -6.934      0.000      -0.035      -0.020
peso           0.0825      0.006     14.154      0.000       0.071       0.094
cintura        0.0202      0.007      3.072      0.002       0.007       0.033
==============================================================================
Omnibus:                     1031.138   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3722.633
Skew:                           0.189   Prob(JB):                         0.00
Kurtosis:                       5.194   Cond. No.                     1.39e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [47]:
modelD=sm.OLS.from_formula('diastol ~ sistol',data=ndf)
resultD=modelD.fit()
resultD.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.439
Model:                            OLS   Adj. R-squared:                  0.439
Method:                 Least Squares   F-statistic:                 1.409e+04
Date:                Sat, 03 Dec 2022   Prob (F-statistic):               0.00
Time:                        04:33:58   Log-Likelihood:                -64272.
No. Observations:               18032   AIC:                         1.285e+05
Df Residuals:                   18030   BIC:                         1.286e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.9991      0.440     54.564      0.000      23.137      24.861
sistol         0.4350      0.004    118.705      0.000       0.428       0.442
==============================================================================
Omnibus:                     1016.455   Durbin-Watson:                   1.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3973.980
Skew:                           0.128   Prob(JB):                         0.00
Kurtosis:                       5.286   Cond. No.                         830.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [50]:
r=resultD.resid
statistics.median(r)

0.011363868221820894